PORT=8000
MONGODB_URI=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d
CORS_ORIGIN=https://nearit.vercel.app
FRONTEND_URL=https://nearit.vercel.app
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NODE_ENV=production